.button {
    color: rgb(74, 144, 226);
    background: none;
    border: none;
    font-size: 15px;
    padding: 10px;
    transition: color .15s cubic-bezier(0.4, 0.0, 0.2, 1), transform .15s cubic-bezier(0.4, 0.0, 0.1, 1);
    cursor: pointer;
    outline: none;

    &:hover {
        color: rgb(60, 120, 190);
    }
}