.footer {
    background-color: white;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 50px 2em 50px 2em;
    
        @media screen and (min-width: $break-large) {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }    
    }
    
    & a {
        text-decoration: none;
        color: rgb(50,50,50);
    }

    &__links {
        font-size: 17px;
        font-weight: 300;
        list-style: none;
        margin-bottom: 3em;
        margin-right: 2em;
        -webkit-padding-start: 0em;
        padding-left: 0em;    

        &__item {
            margin-bottom: 15px;
        }
    }

    &__logo img {
        width: 160px;
        height: 87px;
    }
}