.form-section {

    padding-bottom: 1em;

    &__title {
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 6px;
        margin-bottom: 0;
        border-bottom: 1px solid rgb(226,226,226);
    }
}