.key-value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid rgb(226, 226, 226);

    &__key {
        font-size: 13px;
        font-weight: 400;
        text-align: start;
        margin: 14px 0 6px 0;
    }

    &__value {
        font-size: 15px;
        font-weight: 300;
        text-align: start;
    }
}