.navbar {
    height: 60px;
    background-color: #323232;
    border-bottom: 1px solid #333333;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    z-index: 1;
    position: relative;

    &__logo {
        height: 31px;
        width: 24px;
        margin-right: 10px;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__button {
        width: 28px;
        height: 28px;
        border: none;
        flex-shrink: 0;
        padding: 0;
        cursor: pointer;
        background: transparent;

        & svg {
            width: 28px;
            height: 28px;
            fill: white;
        }
        
        &--secondary {
            position: absolute;
            right: 20px;
            top: 16px;

            & svg {
                fill: rgb(220,220,220);
            }
        }
    }

    & > div {
        flex: 1;
    }
}