.pill {
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid;
    text-align: center;
    padding: 8px 9px;
    outline: none;
    cursor: pointer;

    &--default {
        border-color: rgb(100,100,100);
        background-color: rgb(100,100,100);
        color: white;
    }

    &--primary {
        border-color: rgb(50, 50, 50);
        background-color: rgb(50, 50, 50);
        color: white;
    }

    &--secondary {
        border-color: rgb(118,118,118);
        background-color: rgb(118,118,118);
        color: white;
    }

    &--unset {
        border-color: rgb(100,100,100);
        color: rgb(100,100,100);
        background-color: transparent;
    }

    &--disabled {
        border-color: rgb(155,155,155);
        color: rgb(155,155,155);
        background-color: transparent;
    }

    &--action {
        border-color: rgb(74, 144, 226);
        color: rgb(74, 144, 226);
        background-color: transparent;

        &:hover {
            color: white;
            background-color: rgb(74, 144, 226);
        }
    }

    &--like {
        border-color: rgb(248,102,140);
        height: 35px;
        padding: 0 9px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgb(248,102,140);
            color: white;

            svg {
                fill: white;
            }
        }

        svg {
            display: block;
            fill: rgb(248,102,140);
            overflow: hidden;
            width: 20px;
            height: 20px;
        }
    }
}