.radio-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    border-bottom: 1px solid rgb(230,230,230);

    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 1em;
        flex-shrink: 0;
    }

    &__titles-container {
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            margin-bottom: 4px;
        }

        &__subtitle {
            font-size: 14px;
            font-weight: 400;
            margin: 0;
        }
    }
}