.radio-select {
    display: flex;
    flex-direction: column;

    &--disabled {
        opacity: 0.3;
        cursor: not-allowed;

        & .radio-item {
            cursor: not-allowed;
            pointer-events: none;
        }    
    }

}